*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #F9FAF8;
    --whitegray: #E5E7EB;

}

.section { 
    background-color: #1F2937;
    height: 23rem;
}

.section .box1{
    border: 1px solid red;
    height: 10rem;
    width: 50%;
    justify-content: center;
    
}

.section .box1 p{
    color: var(--white);
    font-size: 24px;
}

.section .box2{
    border: 1px solid red;
    height: 10rem;
    width: 50%;
}

.section, .box1, .box2{
    display:flex;
}

.box2 ul li{
    color: var(--whitegray);
    list-style: none;
    font-size: 18px;
}

.box2 ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}

.box2{
    justify-content: space-around;
}
