:root {
  --background-top: #1f2937;
  --white: #e5e7eb;
  --whitex2: #f9faf8;
  --blue: #3882f6;
  --backgroundwhite: #e5e7eb;
}

.wrapper {
  background-color: var(--backgroundwhite);
  height: auto;
}

.wrapper .top {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.top1 {
  display: flex;
  justify-content: center;
  background-color: #c70101;
}

.top {
  display: flex;
  width: 74rem;
}

.wrapper-interior {
  width: 73rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5rem;
}

.wrapper .top-text {
  color: var(--background-top);
  display: flex;
  flex-direction: column;
}

.top ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0.5rem;
}

.top-text-interior {
  display: flex;
  justify-content: space-between;
}

.top-text-left {
  display: flex;
  flex-direction: column;
}

.top-text-left .title {
  font-size: 48px;
  font-weight: bold;
}

.top-text-interior .top-text-right {
  height: 260px;
}

.top-text-interior {
  padding: 6rem 0rem;
}

#btn {
  width: 30%;
}

#imgbck {
  width: auto;
  height: 20rem;
}

.p-wrapper-2 {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.patrate {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}

.patrat-figcaption1 {
  border: 3px solid #e5e7eb;
  width: 230px;
  border-radius: 1rem;
}

.patrat1 {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}

.patrat-figcaption2 {
  border: 3px solid #e5e7eb;
  width: 14.5rem;
  border-radius: 1rem;
}

.patrat2 {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}

.patrat-figcaption3 {
  border: 3px solid #e5e7eb;
  width: 14.5rem;
  border-radius: 1rem;
}

.patrat3 {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}

.patrat-figcaption4 {
  border: 3px solid #e5e7eb;
  width: 14.5rem;
  border-radius: 1rem;
}
.patrat4 {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}

#img-match1 {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 150px;
  border-radius: 1rem;
}

#buyticket {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}

.wrapper-3 {
  background-image: url(pic/tenhag.png);
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
}

.wrapper-3-interior {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
}

.wrapper-3-interior .text {
  font-size: 75px;
  font-style: bold;
  font-weight: 500;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-4 {
  display: flex;
  justify-content: center;
}

.wrapper-4-interior {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12rem;
  width: auto;
}
.wrapper-4-interior .interior {
  background-color: #3882f6;
  padding: 4rem;
  width: auto;
  position: absolute;
  color: var(--whitex2);
  border-radius: 2rem;
}

.wrapper-4-interior .signup #btn1 {
  position: absolute;
  z-index: 1;
  display: flex;
  border: 2px solid white;
}

footer {
  background-color: #1f2937;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright .p6 {
  color: var(--whitex2);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1200px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .wrapper {
    width: auto;
  }
  .top1 .top h2 {
    font-size: smaller;
  }
  .top1 .top img {
    width: auto;
    height: auto;
  }
  .top1 {
    height: auto;
    width: auto;
  }
  .top1 .top ul {
    font-size: small;
    padding: 0.7rem;
  }
  .top-text-left {
    width: 30.5rem;
  }
  .top-text-left .title {
    font-size: x-large;
  }
  .top-text-left .text {
    font-size: small;
  }
  .top-text-left #btn {
    font-size: small;
    width: 7rem;
  }

  .top-text .top-text-right {
    display: flex;
    position: relative;
    right: 15rem;
  }

  #imgbck {
    width: 25rem;
    height: 13rem;
  }
  .wrapper-interior1 {
    width: auto;
  }
  .wrapper-interior1 .p-wrapper-2 {
    font-size: x-large;
  }
  .wrapper-interior1 .patrate {
    width: 100vw;
  }
  .wrapper-interior1 .patrat-figcaption1 {
    width: 10rem;
  }
  .wrapper-interior1 .patrate #img-match1 {
    width: 9.5rem;
  }
}

@media all and (max-width: 900px) {
  .top1 .top h2 {
    font-size: smaller;
  }
  .top1 .top img {
    width: auto;
    height: auto;
  }
  .top1 {
    height: auto;
    width: auto;
  }
  .top1 .top ul {
    font-size: small;
    padding: 0.7rem;
  }
  .top-text-left {
    width: 25rem;
  }
  .top-text-left .title {
    font-size: x-large;
  }
  .top-text-left .text {
    font-size: small;
  }
  .top-text-left #btn {
    font-size: small;
    width: 7rem;
  }

  .top-text .top-text-right {
    display: flex;
    position: relative;
    right: 24rem;
  }

  #imgbck {
    width: 22rem;
    height: 13rem;
  }
  .wrapper-interior1 {
    width: auto;
  }
  .wrapper-interior1 .p-wrapper-2 {
    font-size: x-large;
  }
  .wrapper-interior1 .patrate {
    width: 100vw;
  }
  .wrapper-interior1 .patrat-figcaption1 {
    width: 10rem;
  }
  .wrapper-interior1 .patrate #img-match1 {
    width: 9.5rem;
  }
}

@media all and (max-width: 768px) {
  .top1 .top h2 {
    font-size: smaller;
  }
  .top1 .top img {
    width: auto;
    height: auto;
  }
  .top1 {
    height: auto;
    width: auto;
  }
  .top1 .top ul {
    font-size: small;
    padding: 0.7rem;
  }
  .top-text-left {
    width: 16rem;
  }
  .top-text-left .title {
    font-size: large;
  }
  .top-text-left .text {
    font-size: small;
  }
  .top-text-left #btn {
    font-size: small;
    width: 7rem;
  }

  .top-text .top-text-right {
    display: flex;
    position: relative;
    right: 35rem;
  }

  #imgbck {
    width: 16rem;
    height: 11rem;
  }
  .wrapper-interior1 {
    width: auto;
  }
  .wrapper-interior1 .p-wrapper-2 {
    font-size: x-large;
  }
  .wrapper-interior1 .patrate {
    width: 100vw;
    display: inline-block;
    justify-self: center;
    padding: 0rem 8rem;
  }
  .wrapper-interior1 .patrat-figcaption1 {
    width: 10rem;
    display: inline-block;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .wrapper-interior1 .patrate #img-match1 {
    width: 9.5rem;
    display: inline-block;
    justify-self: center;
  }
}

@media all and (max-width: 600px) {
  .top1 .top h2 {
    font-size: smaller;
    margin-top: 0.5rem;
  }
  .top1 .top img {
    width: 2rem;
    height: 2rem;
  }
  .top1 {
    height: auto;
    width: auto;
  }
  .top1 .top ul {
    font-size: small;
  }
  .top-text-interior {
    padding-top: 2rem;
  }
  .top-text-left {
    width: 16rem;
    margin-bottom: 5rem;
    margin-left: 3.5rem;
  }
  .top-text-left .title {
    font-size: large;
  }
  .top-text-left .text {
    font-size: small;
  }
  .top-text-left #btn {
    font-size: small;
    width: 7rem;
  }

  .top-text .top-text-right {
    display: flex;
    position: relative;
    right: 52.5rem;
    top: 15rem;
  }

  #imgbck {
    width: 16rem;
    height: 10rem;
  }
  .wrapper-interior1 {
    width: auto;
  }
  .wrapper-interior1 .p-wrapper-2 {
    font-size: x-large;
  }
  .wrapper-interior1 .patrate {
    width: 100vw;
    display: inline-block;
    justify-self: center;
    padding: 0rem 8rem;
  }
  .wrapper-interior1 .patrat-figcaption1 {
    width: 10rem;
    display: inline-block;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .wrapper-interior1 .patrate #img-match1 {
    width: 9.5rem;
    display: inline-block;
    justify-self: center;
  }
}
